<style>
  .carousel-item img {
    width: 400px;
    height: 600px;
    object-fit: contain;
  }

  #carouselExampleIndicators {
    background-color: rgb(255, 255, 255);
  }
</style>


<div class="container-fluid">
  <hr>
  <h2 class="h1 mt-4 mb-4" id="scrollspyHeading2" style="text-align: center;">Mi Trabajo</h2>
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1" ></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <a href="./portfolio_individual.html">
          <img src="https://th.bing.com/th/id/OIP.dTvzfpQdbdXeDhpgwBKorwHaE5?rs=1&pid=ImgDetMain" class="d-block w-100" alt="Galadriel">
        </a>
      </div>
      <div class="carousel-item">
        <a href="./portfolio_individual copy.html">  
          <img src="https://i.pinimg.com/originals/67/06/1f/67061fa2df2665ddf8ab492444fccda9.jpg" class="d-block w-100" alt="...">
        </a>
        </div>
      <div class="carousel-item">
        <a href="./portfolio_individual copy 2.html">
          <img src="https://th.bing.com/th/id/R.ae0308e58e684d44258547548144bc38?rik=n9w3G93pPcU6vw&riu=http%3a%2f%2f31.media.tumblr.com%2ftumblr_macgn2ShyH1rfbyaxo1_1280.jpg&ehk=TOc2Br%2fPOOqB0EnwBMtfS4Sfy2CQxUGniVUdp5GCwe0%3d&risl=&pid=ImgRaw&r=0" class="d-block w-100" alt="...">
        </a>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="false"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>