<style>
    footer ul {
      display: flex;
      justify-content: space-between;
    }

    ul {
    list-style-type: none;
    }
</style>

<footer>

  <hr class="mb-5 mt-5">
  <div class="container">
      <ul>
          <li>
              <a>Diseño MJO &copy; 2025</a>
          </li>
          <li>
              <i class="fas fa-share" style="font-size: xx-large;"></i>
          </li>
          <li>
            <i class="fab fa-instagram" style="font-size: xx-large;"></i>
          </li>
          <li>
            <i class="fab fa-facebook-square" style="font-size: xx-large;"></i>
          </li>
          <li>
              <a>Made by Heimdall &copy;</a>
          </li>
      </ul>
  </div>
</footer>