<style>
    footer ul {
      display: flex;
      justify-content: space-between;
    }

    ul {
    list-style-type: none;
  }
  </style>
    <footer>
    <div class="container">
      <ul>
        <li>
          <a>Diseño MJO &copy; 2025</a>
        </li>
        <li>
            <i class="fa-solid fa-share"></i>
        </li>
        <li><i class="fa-brands fa-square-facebook"></i>
        </li>
        <li>
            <i class="fa-brands fa-instagram"></i>
        </li>
        <li>
          <a>Made by Heimdall &copy;</a>
        </li>
      </ul>
    </div>
  </footer>