<!-- your html code here -->
<div class="container mt-4 mb-4">
    <div class="row">
      <div class="col-12 col-md-6 col-sm-12 col-lg-4 ol-xl-4">
        <img
          src="https://clipground.com/images/tolkien-logo-5.jpg"
          width="420"
          class="img-fluid rounded-circle"
          alt="imagen de walter"
        />
      </div>
      <div class="col-12 col-md-6 mt-5 col-sm-12 col-lg-8 ol-xl-8">
        <h3 id="scrollspyHeading3">
          <strong>This second Heading</strong>
          <span class="text-secondary"><strong>Is Pretty Cool To</strong></span>
        </h3>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quibusdam,
          accusamus! Earum ullam harum facere voluptas. Delectus ullam, nulla
          deleniti amet, porro deserunt expedita aperiam cupiditate ducimus
          distinctio vel dolorum magni.
        </p>
      </div>
    </div>
  </div>
  