<div class="container mt-4 mb-4">
  <div class="row">
    <div class="col-12 col-md-6 mt-5 col-sm-12 col-lg-8 ol-xl-8">
      <h3>
        <strong>Nazgûl</strong>
        <span class="text-secondary"><strong>by Ralph Basky</strong></span>
      </h3>
      <div>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quibusdam,
          accusamus! Earum ullam harum facere voluptas. Delectus ullam, nulla
          deleniti amet, porro deserunt expedita aperiam cupiditate ducimus
          distinctio vel dolorum magni.
        </p>
      </div>
    <div class="container mt-4 mb-4">
  <div class="row">
    <div class="col-12 col-md-6">
      <div>
        <img
          src="https://th.bing.com/th/id/OIP.ZBCpRPHnOKhZGG1CT43stwAAAA?rs=1&pid=ImgDetMain"
          class="img-fluid mb-3"
          alt="Imagen 1"
          style="max-height: 350px; object-fit: cover;"
        />
      </div>
      <div>
        <img
          src="https://i.pinimg.com/originals/2e/d6/77/2ed6779e419e6aefd5e842e9cd30394c.jpg"
          class="img-fluid mb-3"
          alt="Imagen 3"
          style="max-height: 250px; object-fit: cover;"
        />
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/Q5LOaYp4vfc?si=yVgig8KtCph8oLy8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      </div>
      <div>
        <img
          src="https://i.pinimg.com/736x/1b/ba/c7/1bbac734c0fa7a68a0265e49e6fe75d5.jpg"
          class="img-fluid mb-3"
          alt="Imagen 4"
          style="max-height: 300px; object-fit: cover;"
        />
      </div>
      <div>
        <img
          src="https://th.bing.com/th/id/OIP.bRbfwHyPoNba5c5nSezSeAHaFj?rs=1&pid=ImgDetMain"
          class="img-fluid mb-3"
          alt="Imagen 5"
          style="max-height: 200px; object-fit: cover;"
        />
      </div>
    </div>
  </div>
</div>